<%- include('partials/navbar.ejs') %>

    <div class="container">
        <h1>Problems</h1>
        <div class="sort-search">
            <label for="sort-by" class="sort-label">Sort by: </label>
            <select id="sort-by">
                <option value="CODE" selected>CODE</option>
                <option value="Name">Name</option>
                <option value="Difficulty">Difficulty</option>
            </select>
            <form method="post" action="/search">
                <div class="search-container">
                    <input type="text" placeholder="Search problem by name" name="query" class="search-input" />
                    <button type="submit" id="search">Search</button>
                </div>
            </form>
        </div>
        <table>
            <tr class="head-row">
                <th>CODE</th>
                <th>Name</th>
                <th>Difficulty</th>
            </tr>
            <% for(let i=0; i<problems.length; i++) {%>
            <tr>
                <td><%= problems[i].CODE %></td>
                <td><%= problems[i].Name %></td>
                <% if(problems[i].Difficulty === "Easy") { %>
                <td style="color:green"><%=problems[i].Difficulty  %></td>
                <% } else if(problems[i].Difficulty === "Medium") {%>
                <td style="color:orange"><%=problems[i].Difficulty  %></td>
                <% } else { %>
                <td style="color:red"><%=problems[i].Difficulty  %></td>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>



    </body>

    </html>